swagger: '2.0'
info:
  title: freecurrencyApi
  description: Foreign Exchange Rates and Currency Conversion API freecurrencyApi
  version: '1.0'
host: 'freecurrencyapi.net'
basePath: '/api/v2'
schemes:
  - https
produces:
  - application/json
paths:
  /historical:
    get:
      summary: Convert from currency to another historically
      operationId: historical
      tags:
        - Rates
      parameters:
        - name: date_from
          in: query
          description: The currency from conversion
          type: string
          required: false
        - name: date_to
          in: query
          description: The currency to convert
          type: string
          required: false
        - name: base_currency
          in: query
          description: Amount
          type: number
          required: false
        - name: apikey
          in: query
          description: Access API key
          type: string
          required: true
      responses:
        200:
          description: The foreign exchange reference rates
          schema:
            $ref: '#/definitions/Rates'
        404:
          description: The requested resource does not exist
          schema:
            $ref: '#/definitions/Error'
        429:
          description: Rate limit
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /latest:
    get:
      summary: Get the latest foreign exchange reference rates
      description: Returns the latest foreign exchange reference rates. Rates are quoted against the Euro by default. Specify the symbols returned (default = all)
      operationId: getLatest
      tags:
        - Rates
      parameters:
        - name: base_currency
          in: query
          description: The base currency
          type: string
          required: false
          default: EUR
        - name: apikey
          in: query
          description: Access API key
          type: string
          required: true
      responses:
        200:
          description: The foreign exchange reference rates
          schema:
            $ref: '#/definitions/Rates'
        404:
          description: The requested resource does not exist
          schema:
            $ref: '#/definitions/Error'
        429:
          description: Rate limit
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Rates:
    type: object
    properties:
      query:
        type: object
        properties:
          base_currency:
            type: string
          timestamp:
            type: number
      data:
        type: object
        additionalProperties:
          type: number

  Error:
    type: object
    properties:
      success:
        type: boolean
      error:
        type: object
        properties:
          code:
            type: number
          type:
            type: string
          info:
            type: string